.btn{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: none;
    font-weight: bold;
    font-family: 'Roboto';
}

.btn2{
    width: 335px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: none;
    font-weight: bold;
    font-family: arial;
}