.login{
    

        background-color:none;
        color: white;
       
        font-size: 14px;
        border: 2px solid white;
        
        
        &:hover{
            background-color: rgb(255, 255, 255);  
            color: blue;
        }
        
   
}