.formulario{
   padding-left: 86px;
   background-color: #fcfcfc;
   

    p{
    color: #BAB8CC;
    font-family: 'roboto';
    font-size: 12px;
    padding-bottom: 8px;
    }
    .two{
        margin-bottom: 20px;
    }
}

