.input {
    width: 100%;
    border: 1px solid #baa8cc;
    border-radius: 5px;
    border: 1px solid black;
    background: white;

    input {
        height: 48px;
        width: 325px;
        padding-left: 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px/19px;
        font-weight: bold;
        text-align: left;
        font-family: "Roboto";
        letter-spacing: 0px;

        opacity: 0.5;
        &:focus {
            opacity: 1;
        }
    }
}
