//fonts
$font-size: 62.5%;


//colors
$color-primary: #5640FF;
$color-secondary: #586FFF;
$color-base: #FFFFFF;
$color-black: #000425;
$color-grey: #BAB8CC;
$color-btn: #FF1558;

$color-primary-active: #8E80FF;